/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* Other */
body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.docs-category-header {
    text-transform: uppercase;
    font-weight: 700;
    color: #718096;
}

.docs-section-header {
    text-transform: uppercase;
    font-weight: 700;
    color: #718096;
}

.docs-list {
    color: #4a5568;
    text-align: right;
    border: none;
    background: none;
    cursor: pointer;
}

#breadcrumb {
    text-transform: capitalize;
}

.hideOp {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    display: none;
}

.hero {
    background: rgb(255, 0, 0);
    background: -moz-linear-gradient(140deg, rgba(255, 0, 0, 1) 0%, rgba(102, 0, 255, 1) 50%, rgba(255, 0, 160, 1) 100%);
    background: -webkit-linear-gradient(140deg, rgba(255, 0, 0, 1) 0%, rgba(102, 0, 255, 1) 50%, rgba(255, 0, 160, 1) 100%);
    background: linear-gradient(140deg, rgba(255, 0, 0, 1) 0%, rgba(102, 0, 255, 1) 50%, rgba(255, 0, 160, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#ff00a0", GradientType=1);
}

.heroContent {
    backdrop-filter: opacity(0.2);
}

.h-half {
    height: 50%;
}